@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&family=Encode+Sans:wght@300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200&display=swap');

.App {
  text-align: center;
  background-color: #191919;
  height: 100vh;
  overflow: hidden;
}

.About{
  width: 100%;
  /* padding-left: 50%; */
  color: #3597e3;
}

.titlebar {
  text-align: center;
  background-color: #181818;
  height: 25px;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.54);
  color: white;
  position: relative;

}

.topnav{
  
  background-color: #292929;
  height: 35px;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  border:1px solid black;
  white-space: nowrap;
 
} 



.topnav-link{
  text-decoration: none;
  color: white;
  padding-top:8px;
  padding-left: 25px;
  padding-right: 25px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  
}

.titlebar p {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: small;
  vertical-align: center;
  
}
.sidebar {
  display: flex;
  flex-direction: column;
  float: left;
  flex-wrap: wrap;
  background-color: #2f2f2f;
  height: 98vh;
  position:relative;
}

.link{
  text-decoration: none;

}

.menuitems{
  background-color: transparent ;
  padding-left: 16px;
  padding-right: 15px ;
  
  border: none;
}

.activemenuitems {
  background-color: transparent ;
  padding-left: 15px ;
  padding-right: 15px ;
  border: none;
  border-left: white solid 1px;
}

.menu-items:hover{
  background-color: none ;
}


.icons{
  font-size: 30px;
  color: #898989;
  border: none;
  margin-top: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.icons:hover{
  color:rgb(255, 255, 255);
}

.active.icons{
  border-left: white solid 1;
  colors: white;
}

.nav-explorer{
  display: flex;
  flex-direction: row;
}

.explorer{
  background-color: #202020;
  width: 15rem;
  font-family: 'Montserrat';
  color: rgb(224, 224, 224);
  /* padding-left: 15px; */
  text-align: left;
}

.explorer-p{
  padding-left: 15px;
  font-size: 13.5px;
}

.portfolio{
  /* font-weight:1000; */
  font-weight: bold;
}
.exp:hover {
  background-color: #313131;
}
.exp-link{
  text-decoration: none;
  color: rgb(222, 222, 222);
  font-size: 14px;
  font-weight: 600;
}

.js-icon{
  color: yellow;
  margin-right: 7px;
  font-size: 18px;
  margin-left: 5px;
  vertical-align: bottom;
}

#link{
  margin-top:2px;
  margin-bottom: 2px;
  padding-top: 3px;
  padding-bottom: 3px;

}

.color{
  color:#3597e3
}

.explorer-links{
  border-left: rgb(150, 150, 150) solid 1px;
  margin-left: 22px;
}

.chev-icon {
  color: rgb(255, 255, 255);
  font-size: 15px;
  vertical-align: bottom;
  cursor: pointer;
}

.active-tab{
  background-color: #181818;
  border-top: 2px solid white;
}

/* .bottombar{
  height: 30px;
  background-color: blue;
  justify-content: end;
} */

@media only screen and (max-width: 768px) {
  .topnav{
    width: 85vw;
  }

  .explorer{
    display: none;
  }
}
