.App {
  text-align: center;
  background-color: #191919;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  float: left;
  flex-wrap: wrap;
  background-color: #2f2f2f;
  height: 100vh;
}

.link{
  text-decoration: none;

}

.menuitems{
  background-color: transparent !important;
  padding-left: 14px !important;
  padding-right: 13px !important;
  
  border: none;
}

.activemenuitems {
  background-color: transparent !important;
  padding-left: 13px !important;
  padding-right: 13px !important;
  border: none;
  border-left: white solid 1px;
}

.menu-items:hover{
  background-color: none !important;
}

.icons{
  font-size: 25px;
  color: #c0bdbd;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.icons:hover{
  color:rgb(221, 221, 221);
}

.active{
  border-left: white solid 1;
}